    .left-menu {
        background-color: #103f4f;
        width: 200px;
    }

    ul {
        list-style-type: none;
        cursor: pointer;
    }

    li {
        color: white;
        font-size: 20px;
        padding: 10px;
    }

    li:hover{
        color: coral;
    }